* {
  box-sizing: border-box;
  font-family: Podkova, serif;
}

html {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  border: 1px solid #a9a9a9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.balance {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 500px;
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 40px;
  margin-bottom: -2px;
}

.input-field {
  align-items: center;
  border: 2px solid #556b2f;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
}

.section1 {
  display: flex;
  gap: 10px;
}

input {
  border: 1px solid #eee;
  border-radius: 5px;
  font-family: Ubuntu, sans-serif;
  font-size: 15px;
  height: 35px;
  padding: 0 15px;
  width: 100%;
}

.onclick {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

button {
  background-color: #556b2f;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 4px 6px #556b2f;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 20px;
  width: 250px;
}

.output {
  align-items: center;
  border: 2px solid #f5fffa;
  display: flex;
  font-family: Ubuntu, sans-serif;
  flex-direction: column;
  gap: 20px;
  height: 150px;
  margin: 20px auto;
  width: 80%;
}

.scale {
  color: #b22222;
  font-family: ubuntu, sans-serif;
  font-size: 30px;
}
